$color-green-light: #7ed56f;
$color-green-medium: #55c57a;
$color-green-dark: #28b485;
$color-accent-start: #d4145a;
$color-accent-end: #fbb03b;

$font-primary: "Lato", sans-serif;
$shadow-default: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
