.card {
  box-shadow: vars.$shadow-default;
  border-radius: vars.$radius-default;
  background-color: vars.$color-light;
  padding: 1.6rem;
  text-align: center;

  iframe {
    width: 100%;
    height: 400px;
    border: none;
    display: block;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__content {
    font-size: 1.4rem;
    color: vars.$color-text;
  }
}
